---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
  
  <script>
var idcomments_acct = '0a280d81f2f6e5101f37f2d60ef94ed9';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  
<!-- Staticman -->
<form method="POST"
      action="https://api.staticman.net/v2/entry/krambambula/krambambula.github.io/master/reviews"
      oninput="result.value=parseInt(this['fields[review]'].value)">
  <!-- The review will be associated with the current product -->
  <input name="fields[product]" type="hidden" value="{{ page.slug }}" />
  <!-- with options[redirect], our visitor will come back to our website when submitting a review -->
  <input name="options[redirect]" type="hidden" value="{{site.url}}{{site.baseurl}}{{ page.url }}" />
  
  <h4>Add a comment</h4>
  <!-- and finally the user visible fields -->
  <p><label>Your name: <input type="text" name="fields[name]" /></label></p>
  <p><label>Comment: <input type="text" name="fields[message]" /></label></p>
  <p><button type="submit">Go</button></p>
</form>
  
  {% assign reviews = site.data.reviews | where:'product',page.slug %}
{% assign reviewCount = reviews | size %}
{% assign sum = 0 %}
{% for review in reviews %}
  {% assign sum = sum | plus: review.review %}
{% endfor %}

<h3>Comments</h3>
<ul>
  {% for review in reviews %}
  <li>
    <p><b>{{ review.name }}</b> <b>{{review.message}}</b> on <i>{{ review.date | date: '%B %d, %Y' }}</i></p>
    {% if review.message %}
    <p>
      {{review.message}}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
  
</article>
